@font-face {
    font-family: 'bebasregular';
    src: url('../font/webfont.eot');
    src: url('../font/webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/webfont.ttf') format('truetype'),
         url('../font/webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriadproregular';
    src: url('../font/myriadproregular.eot');
    src: url('../font/myriadproregular.eot?#iefix') format('embedded-opentype'),
         url('../font/myriadproregular.woff') format('woff'),
         url('../font/myriadproregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'bebasregular','微軟正黑體', 'Helvetica Bold','Arial Bold';
}

/*url('../font/webfont.woff') format('woff'),*/
